<%= p_tag "Ocorreu uma exceção durante uma compra na escola <strong>#{@school.name}</strong>" %>

<h3><strong>------------- Dados da compra:</strong></h3>
<%= p_tag "Nome: #{@user.full_name}" %>
<%= p_tag "Email: #{@user.email}" %>
<%= p_tag "Cursos: #{@courses.map(&:title).join(', ')}" %>
<%= p_tag "Data: #{Time.now}" %>

<h3><strong>------------- Erro:</strong></h3>
<%= p_tag @exception.message %>
