<div class="checkout_page">
	<div class="container">

		<%= render 'checkouts/cart_header' %>

		<div class="progress">
			<div class="bar bar-success" style="width: 34%; background: rgb(130,186,57);"><i class="icon-user"></i> 1. Conecte-se</div>
		  <div class="bar bar-success" style="width: 33%; background: rgb(130,186,57);"><i class="icon-list"></i> 2. Complete seu cadastro</div>
		  <div class="bar bar-success" style="width: 33%; background: rgb(130,186,57);"><i class="icon-ok"></i> 3. Realize o pagamento</div>
		</div>
		<div class="row-fluid cart_container">
			<div class="span8">
				<%= box(title: "Obrigado!") do %>
					<p><strong>Sua transação foi processada pelo Moip Pagamentos S/A.</strong></p>
					<div class="row-fluid">
						<table class="table span4">
							<tr>
								<td>Status da transação</td>
								<td><strong><%= @purchase.payment_status %></strong></td>
							</tr>
							<tr>
								<td>Código MoIP</td>
								<td><strong><%= @purchase.moip_code %></strong></td>
							</tr>
						</table>
					</div>
					<p>Acompanhe o status do seu pedido ou realize o pagamento novamente
						<%= link_to "aqui", purchases_user_path %>.</p>

					<p>Caso tenha alguma dúvida referente a transação, entre em contato em 
					<%= link_to "Moip.com.br", "http://www.moip.com.br" %></p>
				<% end %>

				<h3>Você comprou:</h3>
				<hr class="black">
	      <% @purchase.cart_items.each do |cart_item| %>
	        <%= render "cart_item_purchased", :cart_item => cart_item %>
	      <% end -%>
			</div>

			<div class="span4">
				<%= render "checkouts/order" %>
				<%= render_widget :school_phone_email, :checkout, :school => current_school  %>
				<%= render_widget :secure_info %>
			</div>
		</div>
	</div>
</div>