<div class="checkout_page" id="social-page">
	<div class="container">
		<%= render 'checkouts/cart_header' %>
		<div class="progress">
			<div class="bar" style="width: 34%; font-size: 18px; padding-top: 7px;"><i class="icon-user"></i> 1. Conecte-se </span></div>
		  <div class="bar" style="width: 33%; background: rgb(242,242,242);"><span style="color: rgb(156,137,156);"><i class="icon-list"></i> 2. Complete seu cadastro</div>
		  <div class="bar" style="width: 33%; background: rgb(242,242,242);"><span style="color: rgb(156,137,156);"><i class="icon-ok"></i> 3. Realize o pagamento</span></div>
		</div>
		<div class="row-fluid cart_container">
			<div class="span8">
	      <div class="title_box">
        <div class="title_head">
					<div class="row-fluid">
						<div class="span5">			
							<%= box(title: "Crie sua conta") do %>
								<div class="form">
									<%= simple_form_for(@user, :url => user_registration_path) do |f| %>
										<%= f.input :first_name, label: false, autofocus: true, placeholder: "Seu nome", input_html: { id: "registration_first_name" } %>
										<%= f.input :email, label: false, required: true, input_html: { id: "registration_email" }, placeholder: "Seu Email" %>
										<%= f.input :password, label: false, required: true, input_html: { id: "registration_password" }, placeholder: "Crie uma Senha" %>
										<%= f.submit "Criar conta", name: "checkout_registration", class: "btn uppercase btn-success" %>
									<% end -%>
									<%= link_to "Esqueceu a senha?", new_user_password_path %>						
				         </div>
							<% end %>
						</div>
						<div class="span2 social-page-or">
							<p>- ou -</p>
						</div>
						<div class="span5">											
							<%= box(title: "Já possui conta?") do %>	
								<div class="form">
									<%= simple_form_for :user, url: user_session_path do |f| %>
										<%= f.input :email, label: false, input_html: { id: "user_email" }, placeholder: "Seu Email", required: true %>
										<%= f.input :password, label: false, input_html: { id: "user_password" }, required: true, placeholder: "Sua Senha" %>
										<%= f.submit "Entrar", class: "btn uppercase btn-info", id: "login-button" %></p>
									<% end -%>
				        </div>
							<% end %>
						</div>
					</div>
				</div>
				</div>
			</div>				

			<div class="span4">
				<%= render "checkouts/order" %>
				<%= render_widget :school_phone_email, :checkout, :school => current_school  %>
				<%= render_widget :secure_info %>
			</div>
		</div>
	</div>
</div>
<%#= javascript_include_tag "top/popup_facebook.js" %>