<% if @courses.any? %>
	<div class="row-fluid">
		<div class="span12">
			<% @courses.each do |course| %>
				<%= box(title: course.title) do %>
  				<% if course.leads.any? %>
						<% @leads = course.leads.page(params[:page]).per(10) %>

						<table class="table table-hover">
							<thead>
              	<tr>
                  <th>Email</th>
                </tr>
            	</thead>
  				
              <tbody>                
								<% @leads.each do |lead| %>
									<tr>
	                  <td><%= lead.email %></td>
	                </tr>
								<% end %>
              </tbody>
            </table>

            <div class="apple_pagination" style="font-size: 14px;">
		          <%= paginate @leads %>
		        </div>
          <% else %>
          	<p class="alert"><%= t('messages.leads.empty') %></p>
          <% end %>
	      <% end %>
      <% end %>
		</div>
	</div>
<% else %>
	<p class="alert"><%= t('messages.courses.empty')%></p>
<% end %>