<% if Flip.feedback? %>
	<%= link_to "Deixe sua Sugestão", '#myModal', "role" => "button", :class => "btn", :id => "feedback", "data-toggle" => "modal"%>

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h4 id="myModalLabel"><i class="icon-question-sign"></i> O que você achou do Edools?</h4>
				  </div>
					<%= form_for :feedback, :url => new_feedback_pages_path, :html => { :id => "feedback-form"} do |f| %>
					  <div class="modal-body">
					    <label class="checkbox inline span2">
						    <%= f.radio_button :like, true %> <i class="icon-thumbs-up"></i> Gostei
						  </label>
						  <label class="checkbox inline">
						    <%= f.radio_button :like, false %> <i class="icon-thumbs-down"></i> Não gostei
						  </label>
						  <hr>
							<p><%= f.text_field :email, :placeholder => "Digite seu email (obrigatório)", :class => "span5", :id => "feedback-email" %></p>
						  <%= f.text_area :text, :placeholder => "Digite sua mensagem", :size => "200x5", :class => "span5" %>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
					    <%= f.submit "Enviar", :class => "btn btn-info", :id => "submit-feedback" %>
					  </div>
					<% end -%>
				</div>
			</div>
		</div>
	</div>
<% end -%>